div {
    background-color: gold;
}

.ggg {
    font-size: 60px;
    color: red;
    text-align: center;
}

#tablo {
    text-align: center;
}

.d {
    font-size: 20px;
}

.n {
    margin-left: 100px;
}